@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap");

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.0001);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.logo {
  margin-top: 68px;
  margin-bottom: 40px;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  align-items: flex-end;
  text-align: center;
  width: 334px;
  height: 79px;
}
.color-logo {
  color: #4bcaff;
}
.header_list {
  font-family: "Roboto";
  background: #35444f;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
}
.header_list li:hover {
  background-color: #222f3a;
}
.list_menu {
  padding: 24px 39px 18px 39px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.left_menu {
  margin-top: 49px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  float: left;
  display: flex;
  align-items: center;
  color: #485863;
  display: block;
  width: 344px;
}
.left_menu_list {
  padding: 26px 0px 26px 44px;
}
.left_menu_list:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
}
.left_menu_list:hover a {
  color: #000000;
}
.imag_ramda {
  margin-top: 50px;
  padding: 74px 268px 74px 297px;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  float: right;
  display: flex;
  transition: transform 0.3s ease-in-out;
  background: url(top1-img.png);
}
.imag_ramda:hover {
  transform: scale(1.1);
}
.left_text {
  margin-top: 35px;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  float: right;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  width: 885px;
  font-size: 18px;
  color: #2c2c2c;
}
.left_text.en {
  margin-top: 35px;
  margin-bottom: 54px;
}

.footer_container {
  margin-bottom: 30px;
  padding: 20px 0px 21px 40px;
  background: rgba(99, 105, 110, 0.48);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  clear: both;
  display: flex;
  align-items: center;
  color: #0c1927;
}
.footer_menu {
  width: 875px;
}
.footer_menu span:not(:last-child) {
  margin-right: 0.5em;
}
.footer_menu span {
  position: relative;
}

.footer_menu span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3181a6;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.footer_menu span:hover {
  color: #3181a6;
}
.footer_menu span:hover::after {
  visibility: visible;
  opacity: 1;
}
.footer_year {
  margin: 0px 0px 0px 135px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #010101;
}
